/* color 2 -#E1958B, color1 -#ffdfc4 */
/*Цвета*/
:root{
    /* --color1 : #ffe5f0;
    --color2 : #eda4d0; */
    --color1 : #fce9e5;
    --color2 : #f3cad0;
    --color3:rgb(255, 198, 217);
    /* --color3 : #e6afa8; */


}
body{
    font-family: 'Century Gothic';
}
h1,h3,h4,h2,h5,h6{
    font-family: 'Century Gothic';
    font-weight: bold;
	font-style: italic;
}

.vin-back{
    background-color: var(--color2);
}
.vin-back1{
    background-color: var(--color1);
}
.vin-back2{
    background-color: var(--color3);
}
.link-head{
    /* text-decoration: none; */
    color: black;
}
.link-head:hover{
    color: var(--color1);
}
.card-prod{
    border: 10px var(--color1) solid;
}
.title-card{
    border-radius: 50px;
}
.title-card2{
    border-radius: 40px;
}
.circle{
    border-radius: 20px;
}
.title-card1{
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-left: 2px;
}
.lst{
    list-style-image: url(../img/icon/gal.png);
    text-indent: 15px;
}
.lst1{
    list-style-image: url(../img/icon/gal.png);
    text-indent: 15px;
}
.otstup{
  margin-top: 35px;

}
.button-m{
   
    border-radius: 20px;
    background-color:var(--color2) ;
    padding: 10px;
    -webkit-box-shadow: 6px 3px 16px rgba(20, 20, 20, 0.7);
-moz-box-shadow:    6px 3px 16px rgba(20, 20, 20, 0.7);
box-shadow:         6px 3px 16px rgba(20, 20, 20, 0.7);
    
}
.hre{
    text-decoration: none;
    color:black;
}
.hre:hover{
    color: blanchedalmond;
}
.text-l{
    text-align:left!important;
    text-indent: 20px;
}
.button-m1{
    color: rgb(22, 22, 22);
    /* -webkit-border-radius: 44px;
-moz-border-radius: 44px;
border-radius: 44px; */
background: rgb(252, 233, 229);
background: -moz-linear-gradient(91deg, rgb(252, 233, 229) 42%, rgb(252, 233, 255) 77%);
background: -webkit-linear-gradient(91deg, rgb(252, 233, 229) 42%, rgb(252, 233, 255) 77%);
background: -o-linear-gradient(91deg, rgb(252, 233, 229) 42%, rgb(252, 233, 255) 77%);
background: -ms-linear-gradient(91deg, rgb(252, 233, 229) 42%, rgb(252, 233, 255) 77%);
background: linear-gradient(1deg, rgb(252, 233, 229) 42%, rgb(252, 233, 255) 77%);
/* -webkit-box-shadow: 6px 3px 16px rgba(20, 20, 20, 0.7);
-moz-box-shadow:    6px 3px 16px rgba(20, 20, 20, 0.7);
box-shadow:         6px 3px 16px rgba(20, 20, 20, 0.7); */
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;

-webkit-box-shadow: 0px 6px 5px rgba(198, 198, 198, 0.47);
-moz-box-shadow:    0px 6px 5px rgba(198, 198, 198, 0.47);
box-shadow:         0px 6px 5px rgba(198, 198, 198, 0.47);
    
}